html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h2{
    text-align: center;
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_bold.woff);
   font-weight: bold;
}

p{
    text-align: center; 
    font-family: myFirstFont;
}


.table{
    width:90%;
    margin: 0 auto;
}
.main {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-toggle-show-hide {
  margin-bottom: 30px;
}

.data-toggle-show-hide span {
  margin-right: 10px;
}

.search-box {
  height: 30px;
  width: 500px;
  font-size: 20px;
}

.data-table {
 
}

.row-headings {
  position: relative;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: silver;
  background-image: url("../assets/sort.png");
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid black;
  font-size: 16px;
}

.row-headings:hover {
  cursor: pointer;
  text-align: center;
}

.ascending,
.descending {
  background-color: gray;
  color: white;
}

.data-cell {
  padding: 4px;  
  text-align: center;
  font-size: 20px;
  border: 1px solid black;

}

.table-controls-pages:hover,
.table-controls:hover {
  text-decoration: underline;
}

.table-controls-bar {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
} 

.table-controls-pages,
.table-controls {
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
}



.table-controls-pages--active {
  background-color: silver;
  color: white;
}
